:root {
  --cor-folly: #F24464;
  --cor-french-rose: #F24472;
  --cor-tyrian-purple: #591931;
  --cor-jungle-green: #1FA680;
  --cor-aquamarine: #2EF2BB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Noto Sans", sans-serif;
}

body {
  overflow: hidden;
}
