:root {
  --cor-preta: #0B0C10;
  --cor-vermelha: #E84C3D;
  --cor-branca: #FFFFFF;
  --cor-cinza-escuro: #3A3E4A;
  --cor-amarela: #E9D758;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Noto Sans", sans-serif;
}

body {
  overflow: hidden;
}
