@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
  color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;

}

body {
  background-color: var(--cor-rich-black);
  overflow: hidden;
  height: 100vw;
}
